{% extends "layout_front.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

  <div class="inner cover">
    <p></p>
    <br>
    <br>
    <h1 class="cover-heading">Ambert Carole</h1>
    <p class="lead">Développement &amp; Intégration Web</p>
    <br>
    <p class="lead">Pour en savoir plus sur mon parcours</p>
  </div>
  <!-- social icons -->
  <div class="social">
    <ul class="social-icons">
      <li>
        <a href="https://www.linkedin.com/in/carole-a/" target="_blank"><img src="images/li.png" alt="linkedin"></a>
      </li>
      <li>
        <a href="https://github.com/Carolea" target="_blank"><img src="images/gh.png" alt="github"></a>
      </li>
      <p class="lead">
        <a href="../web/images/CV_carole_a.pdf" target="_blank" class="btn btn-lg btn-default">Mon CV au format pdf
          <img src="images/docicon1.png" alt="Icone téléchargement CV"></a>
      </p>
    </ul>
  </div>
  <!-- /social icons -->

{% endblock %}
