{% extends "layout_front.html.twig" %}

{% block title %}Compétences{% endblock %}

{% block content %}
  <h1>Loisir</h1>
  {% for loisir in loisirs %}

      <div id="parent">
        <div class="message">{{ loisir.content }}</div>
      </div>



    <!-- <article>
        <h2><a class="articleTitle" href="{{ path('loisir', { 'id': loisir.id }) }}">{{ loisir.title }}</a></h2>
        <p>{{ loisir.content }}</p>
    </article> -->
  {% endfor %}
{% endblock %}
