
/*____________________________*/


@font-face {
  font-family: "Zelda";
  src: url("../font/zelda.otf");
}

/*
 * Globals

 */


/*Animation changement de page*/
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
}
.menu.active .menu-up,
.menu.active .menu-down {
  transform: translateX(0);
  transition: all 1s ease;
}

.menu-up {
  transition: all 1s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top left, transparent 50%, #695b8e 50%);
  transform: translateX(-70%);
}

.menu-down {
  transition: all 1s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top left, #695b8e 50%, transparent 50%);
  transform: translateX(70%);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
/*  background-color: #695b8e;*/
  background: #00bf8f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  font-family: "Zelda", serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Icone réseaux sociaux */
.social {
	text-align: center;
	padding-bottom: 80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style: none;
	display: inline-block;
	margin: 10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
/*ul.social-icons li a {
	opacity: 0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}*/

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}

/*animation portfolio*/

#all{
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y: visible;
    position:relative;
}

a:link, a:visited {
	color: #333;
	border-bottom:1px solid #333;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
	text-decoration:none;
}

a:hover {
	color: #000;
	border-bottom:1px solid #000;
	text-decoration:none;
}

img{
    width:100%;
}

#allcontent{
	margin:60px auto 0 auto;
    width:100%;
    max-width:1140px;
    height:700px;
    position:relative;
	-webkit-animation: comein 1.5s ease-in-out;
	-moz-animation: comein 1.5s ease-in-out;
	animation: comein 1.5s ease-in-out;
}

.portfolio{
    width:100%;
    max-width:1000px;
    position:absolute;
    right:0;
    top:0;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    cursor:pointer;
	-webkit-box-shadow:-2px 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:-2px 0 3px rgba(0,0,0,0.3);
	box-shadow:-2px 0 3px rgba(0,0,0,0.3);
}


.portfolio:nth-child(1) {
	left: 10px;
}
.portfolio:nth-child(1):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 0;
}

.portfolio:nth-child(2) {
	left: 10%;
}
.portfolio:nth-child(2):hover {
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 5%;
}

.portfolio:nth-child(3) {  
	left: 20%;
}
.portfolio:nth-child(3):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 15%;
}

.portfolio:nth-child(4) {  
	left: 30%;
}
.portfolio:nth-child(4):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 25%;
}

.portfolio:nth-child(5) {  
	left: 40%;
}
.portfolio:nth-child(5):hover {  
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
	left: 35%;
}

.opened {  
	z-index: 1000;
	left:0 !important;
	-webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.3);
	box-shadow:0 0 3px rgba(0,0,0,0.3);
	width:100%;
    max-width:1140px;
}

.opened img{
		z-index:5;
}

.ombra{
	position:absolute;
    bottom:20px;
    left:10px;
    width:90%;
	height:20px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	transform:rotate(-2deg);
	display:none;
	z-index:-1;
}

.ombra:after{
	display:block;
	content:"";
	position:absolute;
    bottom:-8px;
    right:-93px;
    width:90%;
	height:20px;
	-webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	transform:rotate(4deg);
}

.txt{
    display:block;
	margin:-2px 0 0 0;
	padding-top:20px;
	width:98%;
	padding-left:2%;
	height:33px;
	background: #695b8e;
}


#navi{
	position:absolute;
	bottom:-40px;
	left:50%;
	margin:0 0 0 -62px;
	background:#000;
	opacity:0.8;
	color:#fff;
	height:24px;
	-webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    padding:7px 10px 0 10px;
}

.circle{
	display:inline-block;
	width:15px;
	height:15px;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background:#efefef;
    border:1px solid #000;
    margin-right:6px;
    cursor:pointer;
}

.circle:hover{
	background:#fff;
	border:1px solid #ccc;
}

.circle:active,
.activenav,
.activenav:hover{
	background:#666;
	border:1px solid #333;
}

.activenav{
	cursor: default;
}

.circle:last-child{
	margin-right: 0;
}



/* loading */
#loading{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	top:0;
	left:0;
	z-index:10001;
	position:absolute;
}

.loader{
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    width: 30px;
	animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-webkit-animation: spin 1s infinite linear;
}


.footer{
	font-size:0.6em;
	color:#333;
	text-align:center;
	width:100%;
	height:30px;
	position:absolute;
	bottom:-100px;
	left:0;
}


/*enter*/
@-webkit-keyframes comein {
	0% { opacity: 0; -webkit-transform: translateY(-3000px); }
	80% { opacity: 1; -webkit-transform: translateY(40px); }
	100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes comein {
	0% { opacity: 0; -moz-transform: translateY(-3000px); }
	80% { opacity: 1; -moz-transform: translateY(40px); }
	100% { -moz-transform: translateY(0); }
}
@keyframes comein {
	0% { opacity: 0; transform: translateY(-3000px); }
	80% { opacity: 1; transform: translateY(40px); }
	100% { transform: translateY(0); }
}
